.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .navbar-header {
    display: flex;
    flex-direction: column;
  }

  .navbar-title {
    font-size: 1.875rem;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  .navbar-subtitle {
    font-size: 1rem;
    margin-top: 5px;
  }
  
  .nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 10;
  }
  
  .nav-item {
    margin-left: 20px;
    color: #B5BEC6;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .nav-item:hover {
    color: #fff;
  }
  .navbar-divider {
    width: 100%;
    height: 1px;
    background-color: #ccc;
  }