.no-bullet {
    list-style-type: none;
    padding-left: 15px;
}

.no-bullet li {
    margin-top: 10px;
}

.bio-container {
    max-width: 80%;
    margin: auto;
    margin-top: 100px;
    font-size: x-large;
    display: flex;
}

/* .words {

}

.pic {

} */
